.container{
    max-width: fit-content;
    padding: 80px;
    
}

.welcome{
 background-image: url("https://assets.weforum.org/article/image/responsive_big_webp_-EX-wDQBBQLecFtdS2PSSL3j06B-_zkXiTPh09o-l4s.webp");
 height: 100vh;
}

.inner-welcome{
    background-color:#fec89a;
}